.table {

width: 50vh;
height: 50vh;
display: block;
margin: auto;

}
/*
.seat {
	display: block;
	width: 100vh;
	margin-left: 100px;
}
*/

/*
.seat:hover {
    cursor: hand;
    cursor: pointer;
    opacity: .9;
}
*/

