*{
  margin: 0;
  padding: 0;
}

/*include padding and border into total width and height of elements*/
*{
  box-sizing: border-box;
}

/*@media (min-width: 414px) {
  .menu__toggle  {
  display: none;
  }
}*/

div.app-header {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 65px;
  background-color: #1e212a;
  color: #ff0354;
  /*text-align: center;*/

}

img#s2-logo {
  position: relative;
  float: left;
  width: 60px;
  height: 60px;
}

p.app-header {
  position: relative;
}
