f*, *:before, *:after {
  box-sizing: border-box;
}

*{
  margin: 0;
  padding: 0;
}
/*Set max width for search for non-smartphone devices.*/
@media (min-width: 450px) {
  .profile {
  max-width: 350px;
  }
}

/*PROFILE BOX*/
.profile {
  position: absolute;
  top: 65px;
  width: 100%;
  height: calc(100vh - 90px); 
  /* Made to fit iPhone X as biggest smartphone screen*/
  max-height: 722px;
  background-color: #f4f7fa;
  color: #1e212a;
  border: 2px solid #1e212a;
}

/* position user image*/
.profile__img {
  position: relative;
  width: 100%;
  height: 200px;
  overflow: hidden;
}

/* POSITION USER INFO*/
.profile__user-info {
  position: relative;
  top: 12px;
  text-align: center; 
}

.profile__user-info h1 {
  font-size: 25px;
  padding-bottom: 5px;
}

/* STYLE DESK INFO*/
.profile__user-info ul li {
  position: relative;
  display: inline;
  top: 4px;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 1px;
  background-color: #03ffb7;
  margin-right: 4px;
}

/* JOB TITLE AND TEAM INFO*/
.profile__user-info h2 {
  position: relative;
  top: 10px;
  font-size: 18px;
  line-height: 1.5;
}

/* LINE SEPARATOR*/
.profile__line-separator {
  position: relative;
  top: 25px;
  height: 2px;
  width: 75%;
  margin: 0 auto;
  border-bottom: 2px solid #1e212a;
}

/*USER CONTACT INFO*/
.profile__user-contact {
  position: absolute;
  top: 360px;
  width:100%;
  margin: 0 auto;
  font-size: 16px;
  font-weight: bold;
}

.profile__user-contact img {
  position: relative;
  width: 15px;
  height: auto;
}

#mobile-icon {
  width: 13px;
}

.profile__user-contact td {
  padding: 5px;
}

/* USER DEEP LINK ICONS */
.profile__user-deep-links {
  position: absolute;
  display: inline;
  top: 500px;
  margin-left: 20%;
}

.profile__user-deep-links img {
  position: relative;
  width: 40px;
  height: auto;
  margin-right: 35px; 
}