f*, *:before, *:after {
  box-sizing: border-box;
}

/*Set max width for search for non-smartphone devices.*/
@media (min-width: 450px) {
  .search {
  max-width: 450px;
  }
}

/*style search box*/
.search {
  position: absolute;
  top: 8px;
  float: right;
  right: calc(10px);
  height: 50px;
  width: calc(100% - 20px);
  border: none;
  background-color: #f4f7fa;
  z-index: 0;
  background-image: url('../../src/assets/icons/search-icon.png');
  background-repeat: no-repeat;
  background-position: 2% 50%;
}

/*
/* Placeholder text search input*/
 /* Chrome/Opera/Safari */  

::-webkit-input-placeholder {
  color: #1e212a;
  font-family: 'MaisonNeue', sans-serif;
}
/* Firefox 19+ */
::-moz-placeholder { 
  color: #1e212a;
  font-family: 'MaisonNeue', sans-serif;
}

/* IE 10+ */
:-ms-input-placeholder { 
  color: #1e212a;
  font-family: 'MaisonNeue', sans-serif;
}

/* Firefox 18- */
:-moz-placeholder { 
  color: #1e212a;
  font-family: 'MaisonNeue', sans-serif;
}

/*style search input*/
.search__input {
  position: absolute;
  left: 40px;
  top: 5px;
  width: 75%;
  height: 40px;
  background-color: #f4f7fa;
  border: none;
  font-family: 'MaisonNeue', sans-serif;
  font-size: 16px;
}

/* magnifying glass */
#search-icon {
  width: 20px;
  height: 20px;
}

/*remove default input outline*/
input:focus, textarea:focus {
  outline: none;
}

/* burger menu icon*/
div.btn {
  position: absolute;
  right:20px;
  float: right;
  width: 40px;
  height: 40px;
  background-image: url("../../src/assets/icons/menu-black-icon.png");
}

div.btn:hover {
  cursor: pointer;
}

/* Search result list */
.search__list {
  position: absolute;
  top: 65px;
  width: 100%;
  border: 2px solid #1e212a;
  color: #1e212a;
}

.search__item {
  position: relative;
  display: flex;
  padding: 10px;
}

.search__list__thumbnail {
  position: relative;
  width: 60px;
  height: 60px;
  border: 2px solid #1e212a;
  overflow: hidden;
}

/*make picture width slighty bigger to make 4x3 pics fit into square*/
.search__list__thumbnail img {
  position: absolute;
  width: 120%;
  height: auto;
}

.search__list__name {
  position: absolute;
  left: 80px;
  top: 15px;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 0.5px;
  color: #1e212a;
}

/* display desk location*/
.search__list__desk {
  position: absolute;
  left: 80px;
  top: 42px;
}

.search__list__desk ul li {
  display: inline;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 1px;
  color: #1e212a;
  background-color: #03ffb7;
  margin-right: 4px;
}



